{% extends '_layouts/base.html' %}
{% load surveys_tags %}
{% load staticfiles %}


{% block page_title %} <h2>The Game</h2> {% endblock page_title %}

{% block page_content %} 
    <div class="col-sm-2">    
        <button id="nextStep" class="btn btn-success" type="button"> Next Step </button>
    </div>
    <div class="col-sm-7" id="npcDiv" style='position:relative'></div>
    <div class="col-sm-3">
        <div class="col-sm-2"> </div>
        <div id='scoreboard' class="col-sm-8"> </div>
        <div class="col-sm-2"> </div>
    </div>

{% endblock page_content %}


{% block css %}
<style>
    * { 
        font-family: Helvetica, Arial;
    }

    dt { 
        float: left; 
        padding: 4px; 
    }

    .graph_bar {
        margin-bottom: 10px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        height: 30px;
    }

    .neutral_bar{
        background: -webkit-gradient(linear, left top, left bottom, from(#afafd3), to(#d4d4d4));
    }

    .hope_bar {
        background: -webkit-gradient(linear, left top, left bottom, from(#2b669a), to(#4098e6));
    }
    .joy_bar {
        background: -webkit-gradient(linear, left top, left bottom, from(#3b8f3b), to(#5edf5e));
    }
    .fear_bar {
        background: -webkit-gradient(linear, left top, left bottom, from(#965d0c), to(#e38d13));
    }
    .sorrow_bar { 
        background: -webkit-gradient(linear, left top, left bottom, from(#b92c28), to(#6e1b18));
    }


</style>
{% endblock css %}

{% block js %}
    <script>
        function getEmotionInt(emotionString){
            //console.log(emotionString)
            for(var i = 0; i < emotionString.length; i++){
                if(emotionString.charAt(i)=='.'){
                    return parseInt(emotionString.substring(i +1));
                }
            }
        }

        function getHighestEmotion(emotionList){
            var joyEmo = getEmotionInt(emotionList[0]);
            var hopeEmo = getEmotionInt(emotionList[1]);
            var sorrowEmo = getEmotionInt(emotionList[2]);
            var fearEmo = getEmotionInt(emotionList[3]);
            var maxEmo = joyEmo;
            var emoURL = "http://i61.tinypic.com/33c0ygh.jpg"; //joy
            if(maxEmo < hopeEmo){
                maxEmo = hopeEmo;
                emoURL = "http://i60.tinypic.com/t8sxo4.jpg"  //actually angry face
            } 
            if(maxEmo < sorrowEmo){
                maxEmo = sorrowEmo;
                emoURL = "http://i61.tinypic.com/156ddtc.jpg"; // sad face
            }
            if(maxEmo < fearEmo){
                emoURL = "http://i59.tinypic.com/245budt.jpg"; //fear face
            }
            //console.log(emoURL);
            return emoURL;
        }

        // Function is no longer used
        // function getPanelClass(action){
        //     if(action == 'Wait'){
        //         return 'panel panel-primary';
        //     } else if (action == 'Pass'){
        //         return 'panel panel-warning';
        //     } else if (action == 'Pass_Success'){
        //         return 'panel panel-success';
        //     } else if (action == 'Protest'){
        //         return 'panel panel-danger';
        //     } else if (action == 'Fail'){
        //         return 'panel panel-default'
        //     } 
        // }

        function getAlertClass(action){
            if(action == 'Wait'){
                return 'alert alert-info';
            } else if (action == 'Pass'){
                return 'alert alert-warning';
            } else if (action == 'Pass_Success'){
                return 'alert alert-success';
            } else if (action == 'Protest'){
                return 'alert alert-danger';
            } else if (action == 'Pass_Fail'){
                return 'alert alert-info'
            } 
        }
        // Function is no longer used
        // function formatEmotion(emotionList){
        //     return "Joy  [" + emotionList[0].substring(4) +  "] Hope [" + emotionList[1].substring(5) + "] Sorrow [" + emotionList[2].substring(7) + "] Fear [" + emotionList[3].substring(5) +"]";
        // }

        // Function is no longer used
        // function formatSpaces(dataList){
        //     if( typeof dataList[0] == 'undefined'){
        //         return ''
        //     }
        //     return "[" + dataList[0] + "] -- [" + dataList[1] + "] -- [" + dataList[2] +"]";
        // }

        function getEmotionPercent(emotionString){ //TODO this function is WAY too long. send the arguments as emotions[0] and leave one for loop. easy.
            //console.log(emotionString)
            for(var i = 0; i < emotionString.length ; i ++){
                if(emotionString.charAt(i) == '.'){
                    if((emotionString.charAt(i+1) == '0') && (emotionString.substring(i+1).length > 1)){ //this sends 4% instead of 04%
                        return emotionString.substring(i+2);
                    }
                    if((emotionString.charAt(i+1) != '0') && (emotionString.substring(i+1).length == 1)){
                        return emotionString.charAt(i+1) + '0'
                    }
                    return emotionString.substring(i+1);
                }
            }
        }

        function initializeNPCs(){
            var xmlhttpReq = new XMLHttpRequest();
            xmlhttpReq.open("GET", "surveys/initialize", true);
            xmlhttpReq.onload=function(){
                var npcData = JSON.parse(xmlhttpReq.response);
                var npcCount = npcData["npc_count"];
                var nameList = npcData["names"];
                var actionList = npcData["actions"];
                var emotionList = npcData["emotions"];
                var gameStatus = npcData["gameStatus"];
                var passingNPCs = npcData["passing_list"];

                for(var i = 0; i < npcCount; i++){
                    $("<div id='npcParent" + (i+1) + "' class='col-sm-12 npc-container'> </div>").appendTo("#npcDiv");

                    $("<div id='npcChild" + (i+1) + "' class='col-sm-7'></div>").appendTo('#npcParent' + (i+1));
                    $("<h4 style='text-align:center'><strong>" + nameList[i] +" </strong></h4>").appendTo("#npcChild" + (i+1));
                    $("<img id='npcFace"+ nameList[i] + "' src='" + getHighestEmotion(emotionList[i]) + "' border='0' alt='happy' style='width:100%; height:100%;' />").appendTo("#npcChild" + (i+1));

                    $("<div id='npcChildBar" + (i+1) + "' class='col-sm-5'> </div>").appendTo("#npcParent" + (i+1));
                    $("<dl style='width:100%' id='npcChart"+ (i+1) + "' > </dl>").appendTo("#npcChildBar" + (i+1));
                    $("<dt id='joytext_" + nameList[i] + "'> Joy " + getEmotionPercent(emotionList[i][0]) + "%</dt>").appendTo("#npcChart"+ (i+1));
                    $("<dd><div id='joybar_" + nameList[i] + "' class='graph_bar neutral_bar' style='width:" + getEmotionPercent(emotionList[i][0]) + "%'> &nbsp </div></dd>").appendTo("#npcChart" + (i+1));
                    $("<dt id='hopetext_" + nameList[i] + "'> Hope " + getEmotionPercent(emotionList[i][1]) + "%</dt>").appendTo("#npcChart"+ (i+1));
                    $("<dd><div id='hopebar_" + nameList[i] + "' class='graph_bar neutral_bar' style='width:" + getEmotionPercent(emotionList[i][1]) + "%'> &nbsp </div></dd>").appendTo("#npcChart" + (i+1));
                    $("<dt id='sorrowtext_" + nameList[i] + "'> Sorrow " + getEmotionPercent(emotionList[i][2]) + "%</dt>").appendTo("#npcChart" + (i+1));
                    $("<dd><div id='sorrowbar_" + nameList[i] + "' class='graph_bar neutral_bar' style='width:" + getEmotionPercent(emotionList[i][2]) + "%'> &nbsp </div></dd>").appendTo("#npcChart" + (i+1));
                    $("<dt id='feartext_" + nameList[i] + "'> Fear " + getEmotionPercent(emotionList[i][3]) + "%</dt>").appendTo("#npcChart" + (i+1));
                    $("<dd><div id='fearbar_" + nameList[i] + "' class='graph_bar neutral_bar' style='width:" + getEmotionPercent(emotionList[i][3]) + "%'> &nbsp </div></dd>").appendTo("#npcChart" + (i+1));

                    $("<div  id='scoreboard_" + (i+1) + "' class='" + getAlertClass(actionList[i]) + "' style='margin:0; text-align:center;'>" + nameList[i] + "</div>").appendTo('#scoreboard');
                }
                if(npcCount == 0){
                    $("<h1 id='gameOverText' style='text-align:center'> Game Over! </h1>").appendTo("#npcDiv");
                    $("<div style='text-align:center'><button id='playAgain' class='btn btn-primary' type='button'> Play Again? </button></div> ").appendTo("#npcDiv");
                    document.getElementById('nextStep').disabled = true;
                    $('#playAgain').click(function(){ 
                        reinitializeNPCs(); 
                        document.getElementById('nextStep').disabled = false;
                    });
                    // $('#nextStep').css('background-color', '#eee');
                    // $('#nextStep').css('border-color', '#eee');                    
                }
            }
            xmlhttpReq.send();
        }


        function reinitializeNPCs(){
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "surveys/reinitialize", true);
            xmlhttp.onload=function(){
                var npcData = JSON.parse(xmlhttp.response);
                var npcCount = npcData["lineLength"];
            }
            xmlhttp.send();              

            // delete the text and button here
            var goText = document.getElementById('gameOverText');
            var goButton = document.getElementById('playAgain');
            goText.parentNode.removeChild(goText);
            goButton.parentNode.removeChild(goButton);
            initializeNPCs();
        }


        function updateNPCs(){
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "surveys/ajax", true);
            xmlhttp.onload=function(){
                    var npcData = JSON.parse(xmlhttp.response);

                    var npcCount = npcData["npc_count"];
                    var nameList = npcData["names"];
                    var actionList = npcData["actions"];
                    var emotionList = npcData["emotions"];
                    //var weight_list = npc_data["weights"];
                    //var resource_list = npc_data["resources"];
                    //var newresource_list = npc_data["newresources"];
                    var gameStatus = npcData["gameStatus"];
                    var passingNPCs = npcData["passing_list"];
                    //$('<p>' + gameStatus + ' </p>').appendTo('#scoreboard')
                    //$('<p> ' + passingNPCs.length +' </p>').appendTo('#scoreboard')

                    if(gameStatus == 'penultimate'){
                        document.getElementById('nextStep').disabled = true; 
                        for(var i=0; i < passingNPCs.length; i ++){
                            
                            var passingIndex = passingNPCs[i]
                            var movingUp = $('#npcParent'+ (passingIndex + 1));
                            var movingDown = $('#npcParent' + passingIndex);
                            var marginDif = parseInt(movingUp.css('marginTop')) + parseInt(movingDown.css('marginBottom'));
                            var upHeight = movingUp.outerHeight() + marginDif;
                            var downHeight = movingDown.outerHeight() + marginDif;
                            $.when(
                                movingUp.animate({top: -downHeight}, 750),
                                movingDown.animate({top: upHeight},750)).then( 
                            function(){ 
                                movingUp.insertBefore(movingDown);
                                movingUp.css('top', '0px');
                                movingDown.css('top', '0px');
                            });

                            $('#npcParent'+ (passingIndex+1)).attr('id', 'ptemp');
                            $('#npcParent'+ passingIndex).attr('id', 'npcParent'+ (passingIndex + 1));                                
                            $('#ptemp').attr('id', 'npcParent' + passingIndex);

                            //$('#npcChild' + (passingIndex+1)).attr('id', 'ctemp');
                            //$('#npcChild'+ passingIndex).attr('id', 'npcChild'+ (passingIndex + 1));                                
                            //$('#ctemp').attr('id', 'npcChild' + passingIndex);

                            $('#scoreboard_' + (passingIndex)).html(nameList[passingIndex-1]);
                            $('#scoreboard_' + (passingIndex + 1)).html(nameList[passingIndex]);
                        }
                        document.getElementById('nextStep').disabled = false;

                    } else if (gameStatus == 'final'){
                        var panelHeight = $('#npcParent1').outerHeight();
                        var npcName = document.getElementById('scoreboard_1');
                        npcName.parentNode.removeChild(npcName);
                        $.when(
                            $('#npcParent1').animate({opacity: 0}, 750),
                            $('.npc-container').not('#npcParent1').animate({top: -panelHeight}, 750)).then(
                        function () {
                            var npcPanel = document.getElementById('npcParent1');
                            npcPanel.parentNode.removeChild(npcPanel);                                    
                            $('.npc-container').css('top', '0px');

                            for(var i = 2; i <=npcCount + 1; i++){
                                $('#npcParent' + i).attr('id', 'npcParent' + (i-1));
                                //$('#npcChild' + i).attr('id', 'npcChild' + (i-1));
                                $('#scoreboard_' + i).attr('id', 'scoreboard_' + (i-1));
                            }
                            if(npcCount == 0){
                                $("<h1 id='gameOverText' style='text-align:center'> Game Over! </h1>").appendTo("#npcDiv");
                                $("<div style='text-align:center'><button id='playAgain' class='btn btn-primary' type='button'> Play Again? </button></div> ").appendTo("#npcDiv");
                                document.getElementById('nextStep').disabled = true;

                                $('#playAgain').click(function(){
                                    reinitializeNPCs() 
                                    document.getElementById('nextStep').disabled = false;
                                });
                                // $('#nextStep').css('background-color', '#eee');
                                // $('#nextStep').css('border-color', '#eee');
                            }
                        });
                        
                    }

                    for(var i = 0; i < npcCount; i++){
                        // $('#name_' + name_list[i]).text(name_list[i]);
                        // $('#emotion_'+ name_list[i]).text("Emotions: " + formatEmotion(emotion_list[i]));  
                        // $('#action_'+ name_list[i]).text("Action: " + action_list[i]);
                        // $('#weights_'+ name_list[i]).text("Weights: " + formatSpaces(weight_list[i]));
                        // $('#resources_'+ name_list[i]).text("Resources: " + formatSpaces(resource_list[i]));
                        // $('#newresources_'+ name_list[i]).text("New Resources: " + formatSpaces(newresource_list[i]));
                        //$("#npcChild"+ (i+1)).attr('class', getPanelClass(action_list[i]));

                        var dominentEmotionURL = getHighestEmotion(emotionList[i]);
                        //console.log(dominentEmotionURL);
                        //$('#npcFace' + name_list[i]).src = dominentEmotionURL;
                        document.getElementById('npcFace' + nameList[i]).src = dominentEmotionURL;

                        $('#scoreboard_' + (i+1)).attr('class', getAlertClass(actionList[i]));

                        //graph stuff
                        $('#joytext_' + nameList[i]).text('Joy ' + getEmotionPercent(emotionList[i][0]) + '%');
                        $('#joybar_'+nameList[i]).width(getEmotionPercent(emotionList[i][0]) + '%');
                        $('#hopetext_' + nameList[i]).text('Hope ' + getEmotionPercent(emotionList[i][1]) + '%');
                        $('#hopebar_'+nameList[i]).width(getEmotionPercent(emotionList[i][1]) +'%');
                        $('#sorrowtext_' + nameList[i]).text('Sorrow ' + getEmotionPercent(emotionList[i][2]) + '%');
                        $('#sorrowbar_'+nameList[i]).width(getEmotionPercent(emotionList[i][2]) + '%');
                        $('#feartext_' + nameList[i]).text('Fear ' + getEmotionPercent(emotionList[i][3]) + '%');
                        $('#fearbar_'+nameList[i]).width(getEmotionPercent(emotionList[i][3]) + '%');                        
                    }


            }
            xmlhttp.send();
        }

        $('document').ready(function(){
            $('#nextStep').click(function(){
                updateNPCs();
            });
            $('#playAgain').click(function(){
                reinitializeNPCs()
            });
            initializeNPCs();
        });
    </script>
{% endblock js %}



