dt { 
        float: left; 
        padding: 4px; 
    }

    .npcHolder{
        /*TODO change these dimensions to proportions, such that different screen sizes and images can be used*/
        float:left;
        width:150px;
        height:360px;
        margin-right:20px;
        position:relative;
    }

    .npcImage{
        width:100%;
        height:auto;
        margin-bottom: 5px;
    }

    .goodrepu {
        border: 5px solid green;
        border-radius: 5px;
    }

    .sosorepu {
        border: 5px solid yellow;
        border-radius: 5px;
    }

    .badrepu {
        border: 5px solid red;
        border-radius: 5px;
    }

    .scoreboard-color-legend{         
        border-radius:50%; 
        border-style:solid; 
        height:1em; 
        width:1em; 
        float:left;
    }

    .graph_bar {
        margin-bottom: 5px;
        background-color: green;
        border-radius: 4px;
        text-align: center;
        height: 25px;
    }

    .neutral_bar{
        background: -webkit-gradient(linear, left top, left bottom, from(#2b669a), to(#4098C0));
        /*background: -webkit-gradient(linear, left top, left bottom, from(#afafd3), to(#d4d4d4));*/
    }

    .hope_bar {
        background: -webkit-gradient(linear, left top, left bottom, from(#2b669a), to(#4098e6));
    }
    .joy_bar {
        background: -webkit-gradient(linear, left top, left bottom, from(#3b8f3b), to(#5edf5e));
    }
    .fear_bar {
        background: -webkit-gradient(linear, left top, left bottom, from(#965d0c), to(#e38d13));
    }
    .sorrow_bar { 
        background: -webkit-gradient(linear, left top, left bottom, from(#b92c28), to(#6e1b18));
    }

    .pass-fail-alert {
        background-color:#ccc;
        border-radius:4px;
        border-width:1px;
        border-style:solid;
        border-color:#aaa;
        display:block;
        font-family: Helvetica, Arial;
        margin:0;
        padding:15px;
        text-align:center;
    }

    .game-status{
        width:25%;
        height:100%;
        float:left;
    }

    .active-status{
        background-color:#888;
        border-color:#888;
        border-style:solid;
        border-radius:5px;
    }

    .nonactive-status{
        background-color:#eee;
    }

    .status-text{
        color:#ffffff; 
        text-align:center;
        padding-left:0px; 
        padding-right:0px;
        padding-top:0.25cm;
        font-family:Helvetica, Arial;
    }

    .info-button{
        margin-left:1em; 
    }

    .one-line{
        white-space:nowrap;
    }

/*    .chatbox {
        margin-top: 10px;
        border: 1px solid green;
        border-radius: 10px;
        height: 20px;
        text-align: center;
    }*/


    div.calloutFrame {
    height: 130px;
    width: 140px;
    float: left;
}

div.callout {
    background-color: #444;
    background-image: -moz-linear-gradient(top, #444, #444);
    position: relative;
    color: #ccc;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px #999;
    margin: 25px;
    min-height: 50px;
    border: 1px solid #333;
    text-shadow: 0 0 1px #000;
    height: 80px;
    
    /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
}

.callout::before {
    content: "";
    width: 0px;
    height: 0px;
    border: 0.8em solid transparent;
    position: absolute;
}



.callout.top::before {
    left: 45%;
    bottom: -20px;
    border-top: 10px solid #444;
}

.passAnimate {
  -webkit-animation: animation 600ms linear infinite both;
  animation: animation 600ms linear infinite both;
}

/* Generated with Bounce.js. Edit at http://goo.gl/NQ8p1b */

@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -8.18799, -32.75195, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -8.18799, -32.75195, 0, 1); }
  16.666667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.65668, -42.62671, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.65668, -42.62671, 0, 1); }
  25% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.47596, -41.90385, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.47596, -41.90385, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.08625, -40.34498, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.08625, -40.34498, 0, 1); }
  41.666667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.96874, -39.87498, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.96874, -39.87498, 0, 1); }
  50% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.97735, -39.90938, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.97735, -39.90938, 0, 1); }
  58.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.9959, -39.98358, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.9959, -39.98358, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.00149, -40.00595, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.00149, -40.00595, 0, 1); }
  75% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.00108, -40.00431, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.00108, -40.00431, 0, 1); }
  83.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.0002, -40.00078, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.0002, -40.00078, 0, 1); }
  91.666667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.99993, -39.99972, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.99993, -39.99972, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10, -40, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10, -40, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -8.18799, -32.75195, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -8.18799, -32.75195, 0, 1); }
  16.666667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.65668, -42.62671, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.65668, -42.62671, 0, 1); }
  25% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.47596, -41.90385, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.47596, -41.90385, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.08625, -40.34498, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.08625, -40.34498, 0, 1); }
  41.666667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.96874, -39.87498, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.96874, -39.87498, 0, 1); }
  50% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.97735, -39.90938, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.97735, -39.90938, 0, 1); }
  58.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.9959, -39.98358, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.9959, -39.98358, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.00149, -40.00595, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.00149, -40.00595, 0, 1); }
  75% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.00108, -40.00431, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.00108, -40.00431, 0, 1); }
  83.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.0002, -40.00078, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.0002, -40.00078, 0, 1); }
  91.666667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.99993, -39.99972, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.99993, -39.99972, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10, -40, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10, -40, 0, 1); } 
}
